/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #places .places .place_item1 {
    margin-right: 50px; }

  #places .places .place_item2 {
    margin-top: 0; }

  #places .places .place_item3 {
    margin: 120px auto 0; }

  #places .places {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  #latest .news .news_item {
    padding: 240px 60px 20px 20px; }

  #journals .journal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #journals .journal .journal_item {
      margin-right: 50px; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #main_banner {
    background-position: left;
    background-image: url("../img/main_banner/bcg_photo_small.png"); }

  #about .container .table_info {
    width: 600px; }

  #about .container .info > .descr_about {
    font-size: 14px;
    width: 340px; }

  #places .places .place_item1 {
    width: 300px; }
    #places .places .place_item1 > .item_title {
      top: 370px; }
    #places .places .place_item1 > .item_about {
      bottom: 0; }

  #places .places .place_item2 {
    width: 300px; }
    #places .places .place_item2 > .item_title {
      top: 370px; }

  #places .places .place_item3 {
    width: 300px; }
    #places .places .place_item3 > .item_title {
      top: 370px; }

  #latest .news {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #latest .news .news_item {
      margin-right: 25px;
      width: 300px;
      height: 300px;
      margin-bottom: 30px;
      padding: 220px 60px 20px 20px; }

  #journals {
    padding: 0 0 100px; }

  #pre_footer {
    padding: 100px 0 100px; }

  #pre_footer .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #pre_footer .inner .text {
      width: 80%;
      text-align: center;
      margin: 0 auto 30px; }
      #pre_footer .inner .text h3 {
        margin: 0 auto 20px; }
      #pre_footer .inner .text p {
        margin: 0 auto; }

  #gallery .slider {
    width: 400px;
    overflow: hidden; }

  #header .inner_header .right_side_header .menu a {
    font-size: 14px;
    margin-right: 10px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .hamburger {
    display: block; }

  #header {
    position: relative;
    padding: 14px; }
    #header .inner_header .right_side_header .menu {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100%;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background-color: #000;
      padding: 10px 20px;
      z-index: 11; }

  #main_banner {
    background-position: left;
    background-image: url("../img/main_banner/bcg_photo_very_small.png"); }

  #about .container .table_info {
    width: 400px;
    padding: 28px 30px;
    height: 100px;
    margin-top: 120px; }
    #about .container .table_info .column .amount {
      text-align: center;
      color: #fff;
      font-size: 32px; }
    #about .container .table_info .column .what {
      text-align: center;
      color: #fff;
      font-size: 14px; }

  #about .container .img_info {
    height: 60%; }

  #about .container .info > .descr_about {
    max-width: 200px;
    margin-bottom: 20px; }

  #places {
    padding: 100px 0 150px; }

  #places .places .place_item1 {
    margin-right: 0; }

  #places .places .place_item2 {
    margin-top: 120px; }

  #latest {
    padding: 100px 0; }

  #latest .news .news_item {
    margin-right: 0; }

  #journals {
    padding: 50px 0 100px; }
    #journals .journals_descr {
      width: 450px; }

  #journals .journal .journal_item {
    margin-right: 0; }

  #logo .logo {
    width: 450px; }

  #pre_footer .inner .call {
    margin: 0 auto 20px; }

  #pre_footer .inner .message {
    margin: 0 auto; }

  #gallery h4 {
    font-size: 34px; }

  #journals h3 {
    font-size: 34px; }

  #latest h3 {
    font-size: 32px; }

  #places h3 {
    font-size: 32px; }

  #about .container .info > h2 {
    font-size: 32px; }

  #main_banner .main_info > h1 {
    font-size: 46px; }

  #gallery .slider {
    width: 400px;
    overflow: hidden; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hamburger {
    display: block; }

  #header {
    position: relative;
    padding: 14px; }
    #header .inner_header .right_side_header .menu {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100%;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background-color: #000;
      padding: 10px 20px;
      z-index: 11; }

  #main_banner {
    padding: 0 0 30px; }

  #about .container .img_info {
    height: 40%; }

  #about {
    padding: 0 0 30px; }

  #about .container .info {
    padding: 70px 0; }

  #journals .journals_descr {
    width: 250px; }

  #journals .journal .journal_item > .img {
    width: 250px;
    height: 265px; }

  #journals .journal .journal_item > .comment {
    width: 250px; }

  #logo .logo {
    width: 300px; }

  #pre_footer .inner .text p {
    margin-top: 80px; }

  #footer .menu_footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  #about .container .info > .descr_about {
    max-width: 142px;
    font-size: 14px; }

  #about .container .img_info {
    height: 55%; }

  #about .container .table_info {
    margin-top: 250px;
    width: 300px;
    padding: 15px 20px; }

  #about .container .table_info .column .amount {
    font-size: 25px; }

  #about .container .table_info .column .what {
    font-size: 12px; }

  #gallery .slider {
    width: 270px;
    overflow: hidden; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
